<a href="https://colab.research.google.com/github/KanchanCS/r_programming/blob/main/R_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### R is a programming language.

### R is often used for statistical computing and graphical presentation to analyze and visualize data.
## what is R
### R is a popular programming language used for statistical computing and graphical presentation.

### Its most common use is to analyze and visualize data.

## Why Use R?
* It is a great resource for data analysis, data visualization, data science and machine learning
* It provides many statistical techniques (such as statistical tests, classification, clustering and data reduction)
* It is easy to draw graphs in R, like pie charts, histograms, box plot, scatter plot, etc++
* It works on different platforms (Windows, Mac, Linux)
* It is open-source and free
* It has a large community support
* It has many packages (libraries of functions) that can be used to solve different problems

In [ ]:
"Hello World!"

[1] "Hello World!"

In [ ]:
5+5

[1] 10

In [ ]:
5
2

[1] 5

[1] 2

In [ ]:
print("hello")

[1] "hello"

In [ ]:
for (i in 1:10)
{
  print(i)
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10

In [ ]:
name <- "jon"
age <- 24
name
age

[1] "jon"

[1] 24

## Concatenate Elements
### You can also concatenate, or join, two or more elements, by using the paste() function.

### To combine both text and a variable, R uses comma (,):

In [ ]:
text = "awesome"
paste("R is", text)

[1] "R is awesome"

In [ ]:
text1 <- "Hello I AM"
text2 <- "Programmer"
paste (text1, text2)

[1] "Hello I AM Programmer"

### For numbers, the + character works as a mathematical operator:

In [ ]:
name1 <- 12
name2 <- 13
name1 + name2

[1] 25

## Variable Names
### A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for R variables are:
* A variable name must start with a letter and can be a combination of letters, digits, period(.)
and underscore(_). If it starts with period(.), it cannot be followed by a digit.
* A variable name cannot start with a number or underscore (_)
* Variable names are case-sensitive (age, Age and AGE are three different variables)
* Reserved words cannot be used as variables (TRUE, FALSE, NULL, if...)

In [ ]:
myvar <- "jon"
my_var <- "jon"
myVAR <- "jon"
MYVAR <- "jon"
myvar2 <- "jon"
.myvar <- "jon"

In [ ]:
1myvar <- "jon"
_myvar <- "jon"
my-var <- "jon"

ERROR: ignored

## Assignment of Variables

In [ ]:
var <- 10
var1 = 20
var3 <- 30
var
var1
cat("Add variable:\n",var," ",var1,"\n", var3)

[1] 10

[1] 20

Add variable:
 10   20
 30

## Data Types
* In programming, data type is an important concept.

* Variables can store data of different types, and different types can do different things.

* In R, variables do not need to be declared with any particular type, and can even change type after they have been set:

### Basic Data Types
##### Basic data types in R can be divided into the following types:

* numeric - (10.5, 55, 787)
* integer - (1L, 55L, 100L, where the letter "L" declares this as an integer)
* complex - (9 + 3i, where "i" is the imaginary part)
* character (a.k.a. string) - ("k", "R is exciting", "FALSE", "11.5")
* logical (a.k.a. boolean) - (TRUE or FALSE)

In [ ]:
num <- 10
class(num)
typeof(num)

[1] "numeric"

[1] "double"

In [ ]:
int <- 15L
class(int)

[1] "integer"

In [ ]:
int <- 15
class(int)
typeof(int)

[1] "integer"

[1] "integer"

In [ ]:
complex_1 <-  2+3i
class(complex_1)

[1] "complex"

In [ ]:
char <- "num"
class(char)

[1] "character"

In [ ]:
a <- TRUE
class(a)

[1] "logical"

## Converting Data type in R

In [ ]:
num <- as.numeric(15L)
num
num1 <- as.numeric(27-55i)
num1
num2 <- as.numeric(TRUE)
num2
num3 <- as.numeric("mmmjklm")
num3
num4 <- as.numeric("12344")
num4

[1] 15

Warning message in eval(expr, envir, enclos):
“imaginary parts discarded in coercion”

[1] 27

[1] 1

Warning message in eval(expr, envir, enclos):
“NAs introduced by coercion”

[1] NA

[1] 12344

In [ ]:
int <- as.integer(15L)
int
int1 <- as.integer(27-55i)
int1
int2 <- as.integer(TRUE)
int2
int3 <- as.integer("mmmjklm")
int3
int4 <- as.integer("12344")
int4

[1] TRUE

Warning message in eval(expr, envir, enclos):
“imaginary parts discarded in coercion”

[1] 27

[1] 1

Warning message in eval(expr, envir, enclos):
“NAs introduced by coercion”

[1] NA

[1] 12344

In [ ]:
log <- as.logical(15L)
log
log1 <- as.logical(15-44i)
log1
log2 <- as.logical(TRUE)
log2
log3 <- as.logical("ghvghvhgv")
log3
log4 <- as.logical("45555")
log4

[1] TRUE

[1] TRUE

[1] TRUE

[1] NA

[1] NA

# Built-in Math Functions
* the min() and max() functions can be used to find the lowest or highest number in a set

In [2]:
max(5, 10, 15)
min(5, 10, 15)

[1] 15

[1] 5

# sqrt()
* The sqrt() function returns the square root of a number:

In [3]:
sqrt(16)

[1] 4

# abs()
* The abs() function returns the absolute (positive) value of a number:

In [4]:
abs(-4.7)

[1] 4.7

# ceiling() and floor()
* The ceiling() function rounds a number upwards to its nearest integer, and the floor() function rounds a number downwards to its nearest integer, and returns the result:

In [5]:
ceiling(1.4)

floor(1.4)

[1] 2

[1] 1

# Booleans (Logical Values)
* In programming, you often need to know if an expression is true or false.

* You can evaluate any expression in R, and get one of two answers, TRUE or FALSE.

* When you compare two values, the expression is evaluated and R returns the logical answer:

In [1]:
10 > 9    # TRUE because 10 is greater than 9
10 == 9   # FALSE because 10 is not equal to 9
10 < 9    # FALSE because 10 is greater than 9

[1] TRUE

[1] FALSE

[1] FALSE

In [2]:
a <- 200
b <- 33

if (b > a) {
  print ("b is greater than a")
} else {
  print("b is not greater than a")
}

[1] "b is not greater than a"

# R If ... Else

In [3]:
a <- 33
b <- 200

if (b > a) {
  print("b is greater than a")
}

[1] "b is greater than a"

# Else If

In [4]:
a <- 33
b <- 33

if (b > a) {
  print("b is greater than a")
} else if (a == b) {
  print ("a and b are equal")
}

[1] "a and b are equal"

# If Else
* The else keyword catches anything which isn't caught by the preceding conditions:

In [5]:
a <- 200
b <- 33

if (b > a) {
  print("b is greater than a")
} else if (a == b) {
  print("a and b are equal")
} else {
  print("a is greater than b")
}

[1] "a is greater than b"

In [6]:
x <- 41

if (x > 10) {
  print("Above ten")
  if (x > 20) {
    print("and also above 20!")
  } else {
    print("but not above 20.")
  }
} else {
  print("below 10.")
}

[1] "Above ten"
[1] "and also above 20!"

# AND
* The & symbol (and) is a logical operator, and is used to combine conditional statements:

In [9]:
a <- 200
b <- 33
c <- 600

if (a > b & c > a) {
  print("Both conditions are true")
}

[1] "Both conditions are true"

# OR
* The | symbol (or) is a logical operator, and is used to combine conditional statements:

In [10]:
a <- 200
b <- 33
c <- 500

if (a > b | a > c) {
  print("At least one of the conditions is true")
}

[1] "At least one of the conditions is true"

# For Loops
* A for loop is used for iterating over a sequence:

In [11]:
for (x in 1:10) {
  print(x)
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10

In [12]:
fruits <- list("apple", "banana", "cherry")

for (x in fruits) {
  print(x)
}

[1] "apple"
[1] "banana"
[1] "cherry"

In [13]:
dice <- c(1, 2, 3, 4, 5, 6)

for (x in dice) {
  print(x)
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6

# Break
* With the break statement, we can stop the loop before it has looped through all the items:

In [14]:
fruits <- list("apple", "banana", "cherry")

for (x in fruits) {
  if (x == "cherry") {
    break
  }
  print(x)
}

[1] "apple"
[1] "banana"

# Next
* With the next statement, we can skip an iteration without terminating the loop:

In [15]:
fruits <- list("apple", "banana", "cherry")

for (x in fruits) {
  if (x == "banana") {
    next
  }
  print(x)
}

[1] "apple"
[1] "cherry"

# Nested Loops
* It is also possible to place a loop inside another loop. This is called a nested loop:

In [16]:
adj <- list("red", "big", "tasty")

fruits <- list("apple", "banana", "cherry")
  for (x in adj) {
    for (y in fruits) {
      print(paste(x, y))
  }
}

[1] "red apple"
[1] "red banana"
[1] "red cherry"
[1] "big apple"
[1] "big banana"
[1] "big cherry"
[1] "tasty apple"
[1] "tasty banana"
[1] "tasty cherry"


# R Functions
* A function is a block of code which only runs when it is called.

* You can pass data, known as parameters, into a function.

* A function can return data as a result.

#### Creating a Function
##### To create a function, use the function() keyword:

In [18]:
my_function <- function() { # create a function with the name my_function
  print("Hello World!")
}
my_function()

[1] "Hello World!"

In [28]:
list1 <- function(){
  print("Data Analyst")
}
list1()

[1] "Data Analyst"

In [30]:
add <- function(){
  print("kanchan")
}
add()

[1] "kanchan"

In [21]:
my_function <- function(fname) {
  paste(fname, "Griffin")
}

my_function("Peter")
my_function("Lois")
my_function("Stewie")

[1] "Peter Griffin"

[1] "Lois Griffin"

[1] "Stewie Griffin"

In [34]:
company <- function(fname){
  paste(fname, "Pvt Limted")
}
company("ExceLR")
company("Aara")

[1] "ExceLR Pvt Limted"

[1] "Aara Pvt Limted"

In [35]:
biodata <- function(fname){
  paste(fname, "Data Analyst")
}
biodata("kanchan")

[1] "kanchan Data Analyst"

In [39]:
my_function = function(firstname, lastname){
  paste(firstname, lastname)
}
my_function("kanchan", "yadav")

[1] "kanchan yadav"

# Default Parameter Value

In [41]:
my_function <- function(country =" USA "){
  paste("I am Form ",country)
}
my_function()
my_function("India")

[1] "I am Form   USA "

[1] "I am Form  India"

# Return Values
* To let a function return a result, use the return() function:

In [44]:
add <- function(x){
  return(5+x)
}
add(5)
add(9)

[1] 10

[1] 14

In [45]:
sub <- function(x){
  return(18-x)
}
sub(2)

[1] 16

# Nested Functions
##### There are two ways to create a nested function:

* Call a function within another function.
* Write a function within a function.

In [60]:
list1 <- function(x, y) {
  a <- x + y
  return (a)
}

list1(list1(2,2), list1(5,3))

[1] 12

In [61]:
list1 <- function(x, y) {
  a <- x + y
  return (a)
}
list1(list1(2,2), list1(3,3))

[1] 10

# Global Variables
* Variables that are created outside of a function are known as global variables.

* Global variables can be used by everyone, both inside of functions and outside.

In [67]:
cource <- "Python Developer"
my_function <- function(){
  paste("kanchan is a ", cource)
}
my_function()

[1] "kanchan is a  Python Developer"

In [74]:
cource <- "I am  Data Analyst"
my_function <- function(){
  txt <- "I am Form India"
  paste("My Name is Kanchan and",txt)
}
my_function()
cource

[1] "My Name is Kanchan and I am Form India"

[1] "I am  Data Analyst"

In [76]:
my_function <- function(){
  txt <<- "my name kanchan"
  return ("i am a developer")
}
my_function()
txt

[1] "i am a developer"

[1] "my name kanchan"