<a href="https://colab.research.google.com/github/KanchanCS/r_programming/blob/main/R_Data_Structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Vectors
* A vector is simply a list of items that are of the same type.

* To combine the list of items to a vector, use the c() function and separate the items by a comma.

In [1]:
fruits <- c("banana", "apple", "orange")
fruits

[1] "banana" "apple"  "orange"

In [3]:
a <- c(1,2,3,4)
a

[1] 1 2 3 4

In [4]:
a <- 1:10
a

 [1]  1  2  3  4  5  6  7  8  9 10

In [5]:
# Vector with numerical decimals in a sequence
numbers1 <- 1.5:6.5
numbers1

[1] 1.5 2.5 3.5 4.5 5.5 6.5

In [6]:
numbers2 <- 1.5:6.3
numbers2

[1] 1.5 2.5 3.5 4.5 5.5

In [7]:
# Vector of logical values
log_values <- c(TRUE, FALSE, TRUE, FALSE)

log_values

[1]  TRUE FALSE  TRUE FALSE

## Vector Length
* To find out how many items a vector has, use the length() function:

In [8]:
fruits <- c("banana", "apple", "orange")

length(fruits)

[1] 3

## Sort a Vector
* To sort items in a vector alphabetically or numerically, use the sort() function:

In [9]:
fruits <- c("banana", "apple", "orange", "mango", "lemon")
numbers <- c(13, 3, 5, 7, 20, 2)

sort(fruits)
sort(numbers)

[1] "apple"  "banana" "lemon"  "mango"  "orange"

[1]  2  3  5  7 13 20

## Access Vectors
* You can access the vector items by referring to its index number inside brackets []. The first item has index 1, the second item has index 2, and so on:

In [10]:
fruits <- c("banana", "apple", "orange")
fruits[1]

[1] "banana"

In [11]:
fruits <- c("banana", "apple", "orange", "mango", "lemon")

# Access the first and third item (banana and orange)
fruits[c(1, 3)]

[1] "banana" "orange"

In [12]:
# You can also use negative index numbers to access all items except the ones specified:

fruits <- c("banana", "apple", "orange", "mango", "lemon")
fruits[c(-1)]

[1] "apple"  "orange" "mango"  "lemon"

## Change an Item
* To change the value of a specific item, refer to the index number:

In [13]:
fruits <- c("banana", "apple", "orange", "mango", "lemon")

# Change "banana" to "pear"
fruits[1] <- "pear"
fruits

[1] "pear"   "apple"  "orange" "mango"  "lemon"

## Repeat Vectors
* To repeat vectors, use the rep() function:

In [14]:
a <- rep(c(1,2,3,4),each= 3)
a

 [1] 1 1 1 2 2 2 3 3 3 4 4 4

In [16]:
a1 <- rep(c(1,2,3), times = 3)
a1

[1] 1 2 3 1 2 3 1 2 3

In [17]:
a2 <- rep(c(1,2,3), times = c(4,3,2))
a2

[1] 1 1 1 1 2 2 2 3 3

In [26]:
# To make bigger or smaller steps in a sequence, use the seq() function:
# Note: The seq() function has three parameters: from is where the sequence starts, to is where the sequence stops, and by is the interval of the sequence.

numbers <- seq(from = 0, to = 100, by = 20)
numbers

[1]   0  20  40  60  80 100

# Lists
* A list in R can contain many different data types inside it. A list is a collection of data which is ordered and changeable.

* To create a list, use the list() function:

In [27]:
list1 <- list("apple", "banana")
list1

[[1]]
[1] "apple"

[[2]]
[1] "banana"

## Access Lists
* You can access the list items by referring to its index number, inside brackets. The first item has index 1, the second item has index 2, and so on:

In [29]:
list1 <- list("apple", "banana")
list1[1]

[[1]]
[1] "apple"

### Change Item Value
* To change the value of a specific item, refer to the index number:

In [31]:
list1 <- list("apple", "banana")
list1[1] <- "banana"
list1

[[1]]
[1] "banana"

[[2]]
[1] "banana"

In [34]:
list1 <- list("apple", "banana")
list2 <- length(list1)
list2

[1] 2